


body {
  font-family: 'Roboto', sans-serif;
	color:#747D7E;
}
/*body{
	font-family: 'Muli', sans-serif;
	color:#747D7E;
}*/
.navbar-default {
  background-color: white;
  border-color: transparent;
  box-shadow:1px 1px 13px #888;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
  color: #747D7E;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #04B8A8 ;
   border-bottom: 4px solid #04B8A8 ;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #04B8A8 ;
  background-color: transparent;
  border-bottom: 4px solid #04B8A8 ;
}



input[type="text"]
{
    background: transparent;
    border: none;
}



.row{
	margin-right:0px;
}


hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #747D7E;
    margin: 1em 0; padding: 0; width:50%; margin:0 auto; }


#ul1 ul {
    width: 100%;
    list-style-type: none;
  	text-align: center;

}



#ul1 a:hover {
    color: rgb(30,223,206);
}

#ul1 li {
	padding: 0 5px;
  display: inline-block;
}

.section4 a{
	color:#04B8A8;
}
	
#copyright{
	  margin-top: 25px;
	  color: #82888a;
	  text-align: center;
}


.abtus{
	text-align:center;padding-top:70px;
	padding-bottom:52px;
	background-color:white;
	width:100%;height:100%;
	color:#fff;
	background-size: cover;
	background-size: content;
	margin-bottom: 0px;
}


#abtd{
	text-align:center;padding-top:70px;
	padding-bottom:52px;
	background-color: #464646;
	width:100%;height:100%;
	color:#c2c2c2; 
	text-align:left;
	padding-bottom:70px;
}

#abtd > p{
	text-align: left;
	width:70%;
	font-size: 17px;
	margin:0 auto;
	font-weight: 300;
}


.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 200px;
	max-width: 30%;
	max-height: 300px;
	width: 48%;
/*	background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
  	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 23px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
	  /*background-repeat: no-repeat;
	  background-position: left top;
	  background-attachment:fixed;
	  background-color: #2e5d5a;*/
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 100%;
	padding-left: 15px;
	border-left: 1px solid #dadada;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#logoimg{

	margin-top:-15px;
}


#navigationbar.makeitwhite{
	background-color: white;
	background-color: #fff;
	padding-top: 10px;
	-webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}


.section4{
	  padding: 50px 0;
	  background-image: url(../Section4.png);
	  background-color: #2b2d2e;
	  color: #fff;
	  margin-top: 50px;
	  font-size: 1.1em;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #747D7E;
    margin: 1em 0; padding: 0; width:50%; margin:0 auto; }


#ul1 ul {
    width: 100%;
    list-style-type: none;
  	text-align: center;

}

#ul1 a {
	padding: 0.2em 0.6em;
display: block
}

#ul1 a:hover {
    color: rgb(30,223,206);
}

#ul1 li {
	padding: 0 5px;
  display: inline-block;
}

.section4 a{
	color:#04B8A8;
}
	
#copyright{
	  margin-top: 25px;
	  color: #82888a;
	  text-align: center;
}

#h1MTH{
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 35px;
	font-weight: 300;
}


#MTH{
	margin-bottom: 80px;
}

#social{
	border:1px solid #fff;
	border-radius: 50px;
}


.navbar-default .navbar-nav>li>.logins {
margin-top: 10px;
color: #04B8A8;
border-radius: 3px;
border: 1px solid #04B8A8;
background-color: transparent;
text-transform: uppercase;
font-weight: 300;
letter-spacing: 1px;
margin-left: 15px;
margin-right: 5px;
padding:7px 13px;

}

.navbar-default .navbar-nav>li>.logins:hover {
  color: #fff;
  border:1px solid #04B8A8;
  background-color: #04B8A8;
}















