


<div>

<script type="text/ng-template" id="collabLimitReached.html">


        <div class="modal-header center">
            <a ng-click="cancel()" class="close">×</a>

        </div>

        <div class="modal-body center">
          Looks like you have reached the maximum limit of 3 collaborators.<br>
Let us know if you would like to have more !

        </div>

        <div class="modal-footer" style="border: 0;
border-top: 0;
text-align: center;
padding: 20px 27px 24px;
border-radius: 0 0 8px 8px;">


 <div class="btn btn-warning" ng-click="increaseLimit('Collaborators')">let us know </div>

        </div>

    </script>


<script type="text/ng-template" id="invite.html">
              
        <div class="modal-header center">
        <a ng-click="cancel()" class="close">×</a>
        <h2>Add collaborators</h2>
        </div>

        <div class="center">
        <form name="addCollaborator">
         <input class="collabNameInput" id="projectname" type="email" typeahead="state for state in states | filter:$viewValue | limitTo:8"  ng-model="newCollab.email" name="collaboratorEmail" inv-autofocus="" tabindex="101" placeholder="Collaborator Email Id" required />

        </div>
          <div class="modal-footer" >
          <div class="btn btn-primary" tabindex="120" ng-click = "addCollab()" ng-disabled = "addCollaborator.$invalid">Invite</div>

        </div>


        <p ng-show="errorMessage" ng-bind="errorMessage"></p>
        <p ng-show="successMessage" ng-bind="successMessage"></p>


        </form>

            </script>

            
<div id="activity-container">

  <div class="view-toggle">
  <a class="btn btn-default btn-sm active"><i class="fa fa-th"></i></a>
  <a class="btn btn-default btn-sm" ng-href= "#/workgroups/{{wg}}/list"><i class="fa fa-th-list"></i></a>
    </div>

  <div class="btn-group sort-button" dropdown is-open="status.isopen2">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Sort by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" ng-click="predicate = 'uploadtime'; reverse=true" >Upload time</a></li>
        <li><a href="" ng-click="predicate = 'authid'; reverse=false">Authors</a></li>
        <li><a href="" ng-click="predicate = ''; reverse=false">File types</a></li>
        
      </ul>
    </div>

  <div class="input-group" style="float:right;margin-right:10px">
    <input ng-model = "query" type="text" class="form-control" placeholder="Search by filename or author" aria-describedby="basic-addon1">
  </div>


<div class="wkName">
  <a href="https://www.documendz.com/a/#/workgroups">
    <img ng-src="https://d28kungomln1xp.cloudfront.net/images/Prev_icon1.png" style="width: 6%;
margin-right: 6px;margin-bottom: 4px;" src="https://d28kungomln1xp.cloudfront.net/images/Prev_icon1.png"></a>{{wname}}</div>


</div>
<div id="upload-container" class="vcenter" >

<div>

    <div class="up-buttons">
    <button ng-file-select="" 
    ng-disabled='totalFileCount >= flimit'
    ng-model="files" 
    class="btn btn-new ng-isolate-scope ng-pristine ng-valid"  
    ng-file-change="uploadFile(files)" 
    ng-multiple="false" 
    ng-accept="'*'" tabindex="0" 
    accept="*" 

    style="overflow:hidden"><i class="fa fa-upload"></i> &nbspUpload
    <input type="file" name="file" accept="*" tabindex="-1" ng-file-generated-elem="true" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"></button><br>

  </div> 

  </div>

<div id= "upload-limit-message" ng-if   ='totalFileCount >= flimit'> 

Currently, you have reached your upload limit of 50 files. Let us know if you would like to have more

 <div class="btn btn-warning" ng-click="increaseFileLimit()">Let us know </div>
</div>

  </div>

<div inform class="inform-animate inform-fixed inform-shadow"></div>
<div id="sidebar-right" style="width:24%;position:absolute;right:0;min-height:300px;margin-top:20px">




<div >

 <ul class="collaborator-list">
       <li >
        
        <p>Collaborators</p>

<button tooltip-placement="top" tooltip="Add people" class="btn btn-warning" ng-valid ng-click="inviteCollab()"><i class="fa fa-user-plus"></i></button>
       </li>
   

       
       <li ng-repeat="collabs in collabData">
                    <span>



        <i class="fa fa-times" ng-if="collabs.authId == pt" ng-click="removeCollaborator(collabs.collabEmail,collabs.wkUniqueId)"></i>
        
            <img style="width: 1.8em; height: 1.8em; background-size: cover; display: block; border-radius: 50%; margin-top: -1.9px;float: left;margin-right: 5px;" ng-src="https://s3-ap-southeast-1.amazonaws.com/documendz-ent/uploaded/user_{{collabs.userid}}/profile_image/dp.jpg" err-src="{{defDp}}"> </img>
        
        <p style="
            text-transform: capitalize;
            text-overflow: ellipsis;
            width: 71%;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px;
            ">{{collabs.collabName}}</p>
        </span>
                </li>
       </ul>





    
      </div>

</div>

  
  

<div class="" style="width:76%; padding: 20px;">
 
    <div id="products" class="row list-group">
        <div ng-repeat = "files1 in allFiles | orderBy:predicate:reverse |filter:search " class="item  col-md-3 holder">
      <div id="file-container" class="show-animator">   
        
       
                    <a ng-if = "files1.sample == 0" href="#/workgroups/{{files1.workgroupid}}/{{files1.authid}}{{files1.uniqueFilename}}" ng-click="setName(files1.filename)">
                        <span class="group inner list-group-item-heading">
            <div class=" thumbnail">

              
                <img ng-if="tr + files1.fid != 0" class="group list-group-image" style="width:400px;height:180px" ng-src="https://s3-ap-southeast-1.amazonaws.com/documendz-ent/uploaded/user_{{files1.authid}}/thumbnails/{{files1.uniqueFilename}}.jpg" err-src="{{errSrc}}" alt="" />

                <img ng-if="tr + files1.fid == 0" class="group list-group-image" style="width:400px;height:180px" ng-src="https://d28kungomln1xp.cloudfront.net/images/fileThumbnailLoading.png" alt="" />

            </div>

             <div class="caption">
                  {{files1.filename}}
                </div>

            </span>

                    </a>

<a ng-if = "files1.sample != 0" href="#/workgroups/sample/{{files1.workgroupid}}/sample{{files1.sample}}/{{files1.uniqueFilename}}" ng-click="setName(files1.filename)">
                        <span class="group inner list-group-item-heading">
            <div class=" thumbnail">

              
                <img ng-if="tr + files1.fid != 0" class="group list-group-image" style="width:400px;height:180px" ng-src="https://d28kungomln1xp.cloudfront.net/sample/thumbnails/sample{{files1.sample}}.jpg" err-src="{{errSrc}}" alt="" />

                <img ng-if="tr + files1.fid == 0" class="group list-group-image" style="width:400px;height:180px" ng-src="https://s3-ap-southeast-1.amazonaws.com/docs-test/loading.gif" alt="" />

            </div>

             <div class="caption">
                    {{files1.filename}}
                </div>

            </span>

                    </a>
        
        <div ng-if = "files1.sample == 0" id="file-functions">
              <div class="file-author-time">
                            <div><b>{{files1.authname}}:</b> {{files1.uploadtime | date:'MMM d, h:mm a'}}</div>
                        </div>

            <div class="file-author-time" style="margin-bottom:4px">

<span style="color:white">.</span>
   <div class="version-circle" style="float:left;" ng-repeat="revision in revisions | filter:{parentUniqueFilename:files1.uniqueFilename}" ng-if="files1.uniqueFilename == revision.parentUniqueFilename" >



    <span> <a href = "#/workgroups/revisions/{{files1.workgroupid}}/version/{{revision.ver_authid}}{{revision.verUniqueFilename}}" style="border-radius: 50%;
background: white;
padding: 5px;
border: 1px solid cornflowerblue;
margin-right: 3px;
color: cornflowerblue;
cursor:pointer;
font-size:11px;"
 ng-if="$index <= 3" tooltip-placement="bottom" tooltip="By {{revision.authname}}">v{{$index+1}}</a></span>


</div>

    <span class="dropdown" dropdown on-toggle="toggled(open)" style="position: absolute;
right: 28px;
bottom: 33px;
text-decoration: underline;" > 
      <a style="font-size: 10px; padding-right: 1px;" href class="dropdown-toggle" dropdown-toggle >All versions</a>
      <ul class="dropdown-menu">
        <li style="padding: 3px 0px;" ng-repeat="l_revision in revisions | filter:{parentUniqueFilename:files1.uniqueFilename}">
            <div style="padding: 2px 10px;" class="version-holder">
          <a style="color: rgba(2, 57, 75, 0.8);" href="#/workgroups/revisions/{{files1.workgroupid}}/version/{{l_revision.ver_authid}}{{l_revision.verUniqueFilename}}" tooltip=" By {{l_revision.authname}}" tooltip-placement="left">version {{$index+1}}</a>
            <i ng-if = "pt == l_revision.ver_authid || pt == wkgroupAuthId" ng-click="deleteVersion(l_revision.verUniqueFilename,l_revision.verExtension)" class="fa fa-trash-o" style="line-height: 1.5em; float:right;cursor:pointer"></i>
     
          </div>
            
        </li>
      </ul>
    </span>


                 </div>

             <div class="key-holder" >
               <a href="https://s3-ap-southeast-1.amazonaws.com/documendz-ent/uploaded/user_{{wkgroupAuthId}}/original/{{files1.uniqueFilename}}.{{files1.extension}}" target="_self" download="aa.pdf"><i tooltip-placement="bottom" tooltip="Download original" class="fa fa-download file-function-items"></i></a>
               <a href="#/workgroups/{{files1.workgroupid}}/{{files1.uniqueFilename}}/user/files/activity"><i tooltip-placement="bottom" tooltip="File activity" class="fa fa-bar-chart-o file-function-items" ></i></a>
               <i ng-if = "pt == files1.authid || pt == wkgroupAuthId" tooltip-placement ="bottom"         tooltip = "Delete file" ng-click = "deletefile(files1.uniqueFilename,files1.extension,files1.sample)" confirmation="Are you sure you want to delete the file?" class="fa fa-trash-o file-function-items "></i>

               <div ng-if="ver == 1" style="float: left; display: initial;">
                <button style="border: 1px solid rgba(2, 57, 75, 0.6);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 2px;
            color: rgba(2, 57, 75, 0.6);
            background-color: white;
            font-size: 11px;"
             ng-file-select="" ng-disabled='allFiles.length >= 10' ng-model="files" class="addversion ng-isolate-scope ng-pristine ng-valid" ng-file-change="uploadFileRevision(files,files1.uniqueFilename)" ng-multiple="false" tabindex="0" accept="*" style="overflow:hidden">Add version <input type="file" name="file" accept="image/*,application/pdf" tabindex="-1" ng-file-generated-elem="true" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                   
                </button>
            </div>
             </div>
                  <!--   <div class="file-functions">
              
               <div class="btn-group workgroup-functions-item " dropdown is-open="status.isopen">
              <i class="fa fa-user fa-lg dropdown-toggle" dropdown-toggle ng-disabled="disabled"></i>
           <i class="fa fa-copy fa-lg workgroup-functions-item "></i>
                  <i class="fa fa-archive fa-lg workgroup-functions-item "></i>
                   <i ng-if="wg.auth_id == pt" ng-click="deleteWkgroup(wg.uniqueId)" class="fa fa-trash-o fa-lg workgroup-functions-item "></i>


            </div>
                </div> -->
         </div>


 <div ng-if ="files1.sample != 0" id="file-functions">
              <div class="file-author-time">
                            <div><b>{{files1.authname}}:</b> {{files1.uploadtime | date:'MMM d, h:mm a'}}</div>
                        </div>
             <div class="key-holder" >
               <a href="https://d28kungomln1xp.cloudfront.net/sample/original/sample{{files1.sample}}.{{files1.extension}}" target="_self" download="aa.pdf"><i tooltip-placement="bottom" tooltip="Download original" class="fa fa-download file-function-items"></i></a>
               <a href="#/workgroups/{{files1.workgroupid}}/{{files1.uniqueFilename}}/user/files/activity"><i tooltip-placement="bottom" tooltip="File activity" class="fa fa-bar-chart-o file-function-items" ></i></a>
               <i ng-if = "pt == files1.authid || pt == wkgroupAuthId" tooltip-placement ="bottom"         tooltip = "Delete file" ng-click = "deletefile(files1.uniqueFilename,files1.extension,files1.sample)" confirmation="Are you sure you want to delete the file?" class="fa fa-trash-o file-function-items "></i>
             </div>
                  <!--   <div class="file-functions">
              
               <div class="btn-group workgroup-functions-item " dropdown is-open="status.isopen">
              <i class="fa fa-user fa-lg dropdown-toggle" dropdown-toggle ng-disabled="disabled"></i>
           <i class="fa fa-copy fa-lg workgroup-functions-item "></i>
                  <i class="fa fa-archive fa-lg workgroup-functions-item "></i>
                   <i ng-if="wg.auth_id == pt" ng-click="deleteWkgroup(wg.uniqueId)" class="fa fa-trash-o fa-lg workgroup-functions-item "></i>


            </div>
                </div> -->
         </div>


     </div>
 </div>

<div ng-if = "allFiles.length == 0" style="text-align: center;
font-size: 1.2em;
color: #888;
padding-top: 100px;
font-style: italic;">



You are just a step away from collaborating ! <br> 
Why not upload files and get there ...

</div>



</div>

</div>
</div>

